extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    h3 To Do:
    ul
      li Create drink input form
      li Create drink search
      li Make homepage display drinks
      li Write ABV calculation functionality
